

@model FirstAssignmentTheta.Models.MailModel

<div class="row">

    <div class="col-md-5">
        <h4 class="btn btn-info btn-lg btn-block">Email Sender</h4>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>From: </p>
            <p>@Html.TextBoxFor(m => m.From)</p>
            <p>To: </p>
            <p>@Html.TextBoxFor(m => m.To)</p>
            <p>Subject: </p>
            <p>@Html.TextBoxFor(m => m.Subject)</p>
            <p>Body: </p>
            <p>@Html.TextAreaFor(m => m.Body)</p>
            <input type="submit" value="Send" />
        }
        </div>
   </div>
